<div id="user">
    <div class="right-pos-btn">
        <button type="button" class="active-btn" routerLink="../../month">Add Month <i class="fas fa-chevron-right"></i></button>
    </div>
    <div class="table">
        <div class="table-header">
            <h1 class="title-name">Water Meter: {{user?.waterMeterID}}</h1>
            <div class="opts">
                <form [formGroup]="form">
                    <select class="input" formControlName="year">
                        <option value="" *ngIf="user?.years" disabled>Select year</option>
                        <option [value]="i" *ngFor="let year of years;let i = index">{{year}}</option>
                    </select>
                </form>
            </div>
        </div>
        <div class="table-body">
            <div class="table-row" *ngFor="let month of months">
                <div class="row-item text-item">
                    <p class="title-name">Month: {{month.month}}</p>
                    <!-- <p class="info-text"></p> -->
                </div>
                <div class="row-item text-item">
                    <p class="title-name">Measurement:</p>
                    <p class="info-text">{{month.measurement}}</p>
                </div>
                <div class="row-item text-item">
                    <p class="title-name">Measurement Used:</p>
                    <p class="info-text">{{month.measurementUsed}}</p>
                </div>
                <div class="row-item text-item">
                    <p class="title-name">Payment date:</p>
                    <p class="info-text">{{month.datePayment}}</p>
                </div>
                <div class="row-item text-item">
                    <p class="title-name">Payment:</p>
                    <p class="info-text">{{month.payment}}</p>
                </div>
                <div class="row-item">
                    <p class="chip-add chip-user" *ngIf="month.status">Paid</p>
                    <p class="chip-delete chip-update" *ngIf="!month.status">Pending</p>
                </div>
                <div class="opts-item">
                    <button class="opts-btn"><i class=" fa fa-ellipsis-v "></i></button>
                </div>
            </div>
        </div>
    </div>
</div>