#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.sidebar-select {
  display: none;
  padding: 15px;
  font-size: 20px;
}

.title-content {
  padding: 0px 20px;
}
.user-content {
  display: flex;
  align-items: center;
}

.user-content p {
  padding: 10px 10px;
  border-left: var(--black-color) 2px solid;
}

.user-content a {
  width: 50px;
  height: 50px;
  padding: 10px 10px;
}

.user-content a img {
  width: 100%;
  border-radius: 4px;
}
