<div id="notifications">

    <div class="table">
        <div class="table-header">
            <h1 class="title-name">All Notficaciones</h1>
            <div class="opts">
                <button class="opts-btn"><i class=" fa fa-search"></i></button>
                <button class="opts-btn"><i class=" fa fa-sort"></i></button>
                <button class="opts-btn"><i class=" fa fa-filter "></i></button>
            </div>
        </div>
        <div class="table-body">
            <div class="table-row">
                <div class="row-item text-item">
                    <p class="title-name">Worker:</p>
                    <p class="info-text"></p>
                </div>
                <div class="row-item text-item">
                    <p class="title-name">Date:</p>
                    <p class="info-text"></p>
                </div>
                <div class="row-item text-item">
                    <p class="title-name">Activity:</p>
                    <p class="info-text"></p>
                </div>
                <div class="row-item text-item">
                    <p class="title-name">Water Meter ID:</p>
                    <p class="info-text"></p>
                </div>
                <div class="row-item text-item">
                    <p class="title-name">User:</p>
                    <p class="info-text"></p>
                </div>
                <div class="row-item">
                    <p class="chip-add chip-user">Active</p>
                </div>
                <div class="opts-item">
                    <button class="opts-btn"><i class=" fa fa-ellipsis-v "></i></button>
                </div>
            </div>
        </div>
    </div>
</div>